/* Global */
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
     width:100%;
	 height:100%;
	 /*禁止手机横屏自动调整文字大小*/
	 -ms-text-size-adjust:none;
	 -webkit-text-size-adjust:none;
	 -moz-text-size-adjust:none;
	 -o-text-size-adjust:none;
}

body{
     margin:0;
	 padding:0;
	 width:100%;
	 height:100%;
	 font-family:微软雅黑,'Regular', Arial, sans-serif;
}

ul{
   list-style:none;
   padding:0;
   margin:0;}

a:link,a:visited{
   text-decoration:none;
   outline:none;
}
a:hover{
	color: #df0909;
}
a{
	color: inherit;
}

*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box; 
}

.clearfix:before,.clearfix:after{ 
   content: ''; display:block;
}
.clearfix:after { 
   clear: both; 
}

.img{
	border:0 none;
}
.w-1200{
	width: 1200px;
	margin: 0 auto;
}
/*top*/
.top{
	background: #2b2b2b;
	width: 100%;
	height: 34px;
	color: #fff;
}
.top ul{
	float: right;
}
.top ul li{
	float: left;
}
.top ul li:nth-child(2) a{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.top ul li a{
	font-size:14px;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
}
/*logo*/
.logo{
	height: 106px;
	padding: 20px 0;
}
.logo .logo-main{
	float: left;
	height: 100%;
}
.logo-400{
	float: right;
	margin-right: 20px;
}


/*banner*/
.banner{
	position: relative;
}
.banner img{
	width: 100%;
}
.nav{ padding:0 20px; height:40px; line-height:40px;  position:absolute; z-index:1;top: 0;left: 0;right: 0;color: #fff;}
.nav a{ color:#fff;  }
.nav .nLi{ float:left;  position:relative; display:inline;  }
.nav .nLi h3{ float:left; font-weight: normal;}
.nav .nLi h3 a{ display:block; padding:0 40px; font-size:18px;}
.nav .sub {
    display: none;
    left: 0;
    top: 40px;
    position: absolute;
    background: rgba(255,255,255,0.9);
    line-height: 26px;
    padding: 5px 0;
    width: 560px;
}
.nav .sub li{ zoom:1;display: inline-block;width: 136px;color: #de080b;font-size: 16px;float: left;}
.nav .sub ul li a{ display:block;color: #333;font-size: 14px;}
.nav .sub li ul li {
    display: inline-block;
    width: 136px;
    padding: 6px 0px 6px 12px;
    color: #de080b;
    font-size: 16px;
    float: left;
}
/*.nav .sub li:hover{ background:#333; color:#fff;  }*/
.nav .on h3 a{color:#fff; background:#de080b; }
.sub-pq{
	width: 1088px !important;
	left: -360px !important;
}
.sub-pq li ul li{
	padding: 0px 7px;
}

/*big-title*/
.big-title{
	height: 250px;
	padding: 34px 0;
}
.big-title img{
	margin: 0 auto;
	display: block;
	height: 100%;
}
/*vs*/
.vs{
	width: 100%;
}
.vs img{
	width: 100%;
	display: block;
}
/*produce-center*/
.produce-center{
	width: 100%;
	height: 890px;
	background: url(../images/bg.jpg);
	background-position: 50% 50%;
}
.customer{
	padding-bottom: 60px;
}
.same-title{
	padding: 54px 0;
}
.same-title img{
	display: block;
	margin: 0 auto;
}

.outBox{ width:1014px;text-align:center;  }
.outBox .hd{position:relative;  }
.outBox .hd ul{display: inline-block;font-size: 24px;}
.outBox .hd ul li{ float:left; padding:0 15px; cursor:pointer; padding: 0 35px;}
.outBox .hd ul li.on{ border-bottom: 2px solid #df0909; padding-bottom: 10px;}

.inBox{ padding:15px 15px 0 15px;  }
.inBox .inHd {
    display: block;
    float: left;
    width: 200px;
    height: 324px;
    background: rgba(0,0,0,0.8);
    color: #fff;
}
.inBox .inHd ul{ overflow:hidden; zoom:1; padding: 20px 0;}
.inBox .inHd ul li{ cursor: pointer;
display: block; height:54px; line-height:24px; width: 100%;margin: 0 auto;line-height: 54px;}
.inBox .inHd ul li.on{color:#fff; background: rgba(91,91,91,0.8); }
.inBox .inBd ul {
    padding: 0px 0 0 94px;
    zoom: 1;
    overflow: hidden;
}
.tempWrap{
	width: 998px !important;
	margin-top: 80px;
}
.inBox .inBd li {
    height: 190px;
    width: 190px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.inBox .inBd li img{ width: 100%;
height: 100%;}
.inBox .inBd li .date{ float:right; color:#999;  }



.vs-title{
	margin-bottom: 20px;
}
.vs-title h1{
	font-size: 30px;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	line-height: 52px;
	text-align: center;
}
.vs-title h1 span{
	color:#df0909;
	margin: 0 10px; 
}
.vs-box {
    padding: 30px 0;
    color: #fff;
    background: url(../images/sccnn1.jpg);
    background-size: auto 100%;
    background-position: center center;
}
.vs-content{
	width: 600px;
	float: left;
	margin:30px 0;
	height: 200px;
	overflow: hidden;
}
.vs-num{
	float: left;
	width: 92px;
	height: 92px;
	border-radius: 8px;
	border: 4px solid #fff;
	font-size: 48px;
	line-height: 92px;
	text-align: center;
}
.vs-txt{
	float: left;
	width: 420px;
	margin-left: 22px;
	position: relative;
	font-size: 14px;
}
.vs-txt h3{
	font-size: 24px;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	text-align: left;
	line-height: 36px;
	margin-bottom: 10px;
}
.vs-txt h3 span{
	color:#df0909;
}
.vs-txt p{
	line-height: 30px;
}
.vs-txt .more{
	position: absolute;
	bottom: 6px;
	right: 0;
}

.slideTxtBox{ width:100%; }
.slideTxtBox .hd{ height:30px; line-height:30px; padding:0 10px 0 20px;position:relative;margin-bottom: 40px;}
.slideTxtBox .hd ul{ float:left;  position:absolute; left:20px; top:-1px; height:32px;width: 100%;}
.slideTxtBox .hd ul li {
    float: left;
    cursor: pointer;
    line-height: 30px;
    width: 50%;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
}
.slideTxtBox .hd ul li:nth-child(1) span{
    width: 30px;
    height: 34px;
    background: url(../images/peo1.png);
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
.slideTxtBox .hd ul li:nth-child(2) span{
    width: 34px;
    height: 34px;
    background: url(../images/peo2.png);
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
.slideTxtBox .hd ul li.on{ color: #d00f0f;}
.slideTxtBox .bd li{ float: left;margin: 40px 0; margin-right: 100px;}
.slideTxtBox .bd li:nth-child(even){
    margin-right: 0px;
}
.slideTxtBox .bd li:nth-child(2){
}
.slideTxtBox .bd li img{width: 260px; height:210px;float: left;}
.customer-txt{
	float: left;
	margin-left: 24px;
	width:260px;
}
.customer-txt h3{
	font-size:21px;
	line-height: 44px;
	margin-bottom: 10px;
	color: #d00f0f;
	font-weight: normal;
}
.customer-txt p{
	text-indent: 34px;
	color: #757575;
	line-height: 24px;
}
.about-title{
	width: 100%;
	height: 140px;
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-weight: normal;
	text-align: center;
	padding: 30px 0;
}
.about {
    background: url(../images/news-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    border-bottom: 3px solid #8a8a8a;
}
.about-title h1{
	font-size: 24px;
	font-weight: normal;
	line-height: 42px;
	text-align: center;
}
.about-title h1 span{
	margin: 0 18px;
	line-height: 20px;
}
.about-title h2{
	font-size: 18px;
	font-weight: normal;
	text-align: center;
}
.about-news{
	background: rgba(255,255,255,0.6);
	padding: 15px;
	margin-bottom: 20px;
	padding-bottom: 80px;
}
.about-news>h1{
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 2px;
	text-align: center;
}
.about-news>h1 span{
	color: #d00f0f;
	line-height: 48px;
}
.about-news>h3{
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 2px;
	text-align: center;
}
.about-box h1{
	color: #d00f0f;
	font-size: 24px;
	font-weight: normal;
	margin: 30px 0;
}
.about-box h1 span{
	font-size: 16px;
	color: #000;
}
.about-box{
	width:100%;
	float: left;
}
.about-box1{
	float: left;
}
.about-box1-txt{
	margin-right: 80px;
}
.about-box1-txt img{
	float: left;
}
.about-box1-con {
    float: left;
    width: 462px;
    padding-top: 50px;
    position: relative;
    margin-left: 30px;
}
.about-box1-con h1{
	color: #000;
	margin-bottom: 20px;
	margin-top: 0;
}
.about-box1-con a{
	position: absolute;
	right: 0;
	top: 50px;
	display: inline-block;
	width: 110px;
	height: 30px;
	line-height: 30px;
	background: #414141;
	color: #fff;
	text-align: center;
	border-radius: 4px;
}
.about-box1-con p{
	line-height:30px;
	text-indent:34px;
	color: #333;
}
.about-box2{
	float: left;
	width: 264px;
}
.slideBox{ width:250px;height:300px;overflow:hidden; position:relative;border-top: 6px solid #757575;background:#f1f1f1;border-bottom:6px solid #757575;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle;text-align: center;}
.slideBox .bd li p{ margin-top: 30px; margin-bottom: 10px; }
.slideBox .bd li a {
    display: block;
    padding: 10px;
    width: 230px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 2px 2px 8px 1px #ccc;
}
.slideBox .bd img{ width:100%;display:block;  }
.asked{
	width: 620px;
	position: relative;
	padding-top: 30px;
}
.asked h4{font-size: 18px;	font-weight: normal;
	margin-bottom: 20px;
}
.asked h5{font-size: 14px;	font-weight: normal;
	padding-bottom: 40px;
	border-bottom: 1px #333 dashed;
	line-height: 24px;
}
.asked h6{
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	bottom: 30px;
	right: 0;
}
.about-box2 form{
	font-size: 16px;
	width: 390px;
	display: inline-block;
	padding-top: 30px;
}
.about-box2 form span{
	width: 110px;
	text-align: right;
	display: inline-block;
	margin-right: 10px;
	letter-spacing: 1px;
	vertical-align: top;
}
.about-box2 form input{
	width: 270px;
	height: 22px;
	margin-bottom: 10px;
}
.input-last{
	height: 110px !important;
}
.about-btn {
    width: 74px !important;
    height: 30px !important;
    text-align: center;
    color: #fff !important;
    line-height: 30px;
    background: #d00f0f;
    border: none;
    float: right;
    margin-right: 90px;
    margin-top: 20px;
    cursor: pointer;
}
.footer {
    background: #3a3b3b;
    color: #fff;
    padding: 4px 0;  
}
.footer-phone{
	position: absolute;
	right: 20px;
	top: 40px;
	height: 36px;
}
.footer-phone img{
	display: inline !important;
	margin-right: 4px !important;
	vertical-align: bottom;
}
.footer-phone span{
	line-height: 34px;
	font-size: 18px;
	font-weight:600;
	font-style: italic;
}
.footer .h4{
	padding: 20px 0;
	position: relative;
}
.footer .h4 a{
	border-left: 1px solid #fff;
	width: 100px;
	display: inline-block;
	text-align: center;
	line-height: 16px;
}
.footer .h4 .first{
	border:none;
	margin-left: 20px;
}
.footer h5{
	padding-bottom: 20px;
	padding-left: 40px;
	font-weight: normal;
}
.footer h5 a{
	color: #d0d0d0;
	font-size: 14px;
	margin: 0 10px;
}
.copy{
	text-align: center;
	margin-top: 10px
}
.copy h3{
	font-size: 14px;
	margin: 10px 0;
	font-weight: normal;
}
.copy h3 span{
	margin: 0 4px;
	font-size: 14px;
	font-weight: normal
}
.footer img{
	display: block;
	margin: 0 auto;
}

.nav .sub li ul li:hover{
	background: #333;
	color: #fff;
}
.nav .sub li ul li:nth-child(1):hover{
	background: none;
	color: #de080b;
}
.nav .sub li ul li:hover a{
	color: #fff;
}
.logo form{
	float: right;
	position: relative;
	margin-right: 20px;
}
.main-search{
	float: right;
	width: 300px;
	position: relative;
}
.search{
	width: 220px;
	height: 32px;
	border:2px solid #eee;
	padding-left: 10px;
	margin-top: 10px;
}
.search-img {
    position: absolute;
    right: 10px;
    top: 14px;
    border: none;
    background: none;
    background: url(../images/search.png);
    height: 24px;
    width: 24px;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}

.list-top{
	height: 40px !important;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	background: #000;
}
.list-title h1{
	font-size: 30px;
	font-weight: normal;
	float: left;
	width: 100%;
	border-bottom: 2px solid #333;
	padding-bottom: 4px;
}
.list-title {
    padding: 15px 0 30px 0;
    margin-top: 80px;
}
.list-title h1 span{
	color: #de080b;
	margin-right: 10px;
}
.list-title h1 i{
	font-style: normal;
	font-size: 24px;
	color: #b1b1b1;
}
.list-title p{
	float: right;
	font-size: 14px;
	color: #434343;
	width: 300px;
	text-align: right;
	line-height: 40px;
}
.sideMenu{ background: #434343;}
.sideMenu h3 {
    cursor: pointer;
    font-size: 20px;
    padding-left: 54px;
    color: #fff;
    font-weight: normal;
    width: 230px;
    height: 53spx;
    background: url(../images/left.png);
    background-size: 100% 100%;
    line-height: 50px;
}
.sideMenu h3 em{ float:right; display:block; width:40px; height:32px;   background:url(images/icoAdd.png) 16px 12px no-repeat; cursor:pointer; }
.sideMenu h3.on em{ background-position:16px -57px; }
.sideMenu ul{color:#fff; line-height: 40px; text-align: center; display:none; /* 默认都隐藏 */ }
.list-left{
	width: 205px;
	min-height: 260px;
	padding: 10px 0 30px;
	position: relative;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
	display: inline-block;
}
.list-left a{
	color: inherit;
}
.list-left-title h1{
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	text-align: center;
	line-height: 50px;
}
.list-left-title img {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 1px;
}
.list-left-title{
	margin-bottom: 20px;
}
.sideMenu ul li{
	width: 100%;
	height: 42px;
	background: 434343;
	border-top: 1px solid #828282;
	border-bottom: 1px solid #000;
}
.sideMenu ul li:hover{
	border: none !important;
	background: #313131;
}
.left-on {
    border: none !important;
    background: #313131;
}
.sideMenu ul li:nth-child(1){
    width: 100%;
    height: 38px;
    background: 434343;
    border-top:none;
    border-bottom: 1px solid #000;
}
.left-cart {
    width: 0;
    height: 0;
    border-width: 38px 0 0 38px;
    border-style: solid;
    border-color: #434343 transparent transparent transparent;
    position: absolute;
    left: 0;
    bottom: -38px;
}
.list{
	min-height: 900px;
	background: url(../images/project-bg.jpg) no-repeat;
	background-position: top right;
	margin-bottom: 60px;
	position: relative;
	padding-bottom: 90px;
	background-repeat: repeat-y;;
}
.list-box{
	width: 900px;
	float: right;
	padding-top: 40px;
}
.list-con{
	width: 220px;
	height: 220px;
	margin-right: 80px;
	margin-bottom: 40px;
	margin-top: 40px;
	position: relative;
	float: left;
}
.list-con img{
	width: 100%;
	height: 100%;
}
.list-con h1{
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	width: 100%;
	font-weight: normal;
	background: rgba(0,0,0,0.6)
}
.page{
	position: absolute;
	bottom: 30px;
	text-align: right;
	padding-right: 80px;
	right: 0;
	color: #fff;
}
.page a{
	margin:0 8px;
	font-size: 18px;
	color: #fff;
}
.product-box {
    width: 810px;
    float: right;
    padding-top: 40px;
    color: #fff;
    margin-right: 90px;
}
.product-block>img{
	width: 446px;
	height: 446px;
	float: left;
}
.product-txt{
	float: left;
	margin-left: 30px;
	line-height: 28px;
}
.picMarquee-left{ width:450px;  overflow:hidden; position:relative; margin-top: 10px;}
.picMarquee-left .hd {
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -35px;
}
.picMarquee-left .hd .prev{ display:block;  width:40px; height:70px;
	 cursor:pointer; background:url("../images/next.png") no-repeat; float: right; }
.picMarquee-left .hd .next{ display:block;  width:40px; height:70px;
	 cursor:pointer; background:url("../images/prev.png") no-repeat; float: left;}
.picMarquee-left .hd .prevStop{ background-position:-60px 0; }
.picMarquee-left .hd .nextStop{ background-position:-60px -50px; }
.picMarquee-left .bd {
    padding: 10px;
    width: 372px;
    overflow: hidden;
    margin: 0 auto;
}
.picMarquee-left .tempWrap{
	margin-top: 0px !important;
	margin-left: -10px;
}
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 8px; float:left; display:inline; overflow:hidden; text-align:center;  }
.picMarquee-left .bd ul li .pic{ text-align:center; }
.picMarquee-left .bd ul li .pic img{ width:110px; height:110px; display:block; padding:2px; }
.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picMarquee-left .bd ul li .title{ line-height:24px;   }
.product-block h1{
	font-size: 24px;
	margin-top: 20px;
	line-height: 40px;
	font-weight: normal;
	margin-bottom: 10px;
}
.product-block p{
	font-size: 18px;
	line-height: 32px;
}
.goback {
    width: 130px;
    height: 60px;
    text-align: center;
    color: #fff;
    background: #757575;
    position: absolute;
    bottom: -100px;
    left: 60px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    padding: 12px 0;
    cursor: pointer;
}
.goback p{
	line-height: 16px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5)
}
.nav-all {
    width: 100%;
    background: #000;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 140px;
}
.news-list{
	background: none !important;
	position: relative;
	min-height: 0 !important;
}
.list-box-all{
	width: 1162px;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid #eee;
	z-index: -1;
	border-radius: 4px;
	box-shadow: 1px 8px 16px rgba(117,117,117,0.1);
	min-height: 565px;
	padding-bottom: 50px;
}
.news-list-con h1{
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 20px;
}
.news-list-con p{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #757575;
}
.news-list-con p span{
	font-size: 22px;
	color: #757575;
	margin-right: 4px;
}
.news-list-con{
	border-bottom: 1px solid #434343;
	padding-bottom: 40px;
	margin:30px 0;
	width: 880px;
	position: relative;
}
.news-list-con>span{
	position: absolute;
	right: 10px;
	bottom: 15px;
	color: #c5c5c5;
}

.news-list .page{
	bottom: -10px !important;
	right: 0;
	color: #000 !important;
}

.news-list .page a {
    color: #000 !important;
}

.news-list .page .on{
	color: #de080b !important;
}
.news-list .page a:hover {
    color: #de080b !important;
}
.news-list ul li{
	border-top: 1px solid #828282 !important;
}
.slideBox1{ width:100%;overflow:hidden; position:relative;}
.slideBox1 .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    z-index: 1;
    left: 50%;
    margin-left: -20px;
}
.slideBox1 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox1 .hd ul li{ 
	float:left; margin-right:4px;  
	width:8px; height:8px; 
	background:#fff; cursor:pointer; 
	opacity: 0.5;
	border-radius: 50%;
}
.slideBox1 .hd ul li.on{ opacity: 0.8;}
.slideBox1 .bd{ position:relative; height:100%; z-index:0;   }
.slideBox1 .bd li{ zoom:1; vertical-align:middle; }
.slideBox1 .bd img{ width:100%; height:auto; display:block;  }
